<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZrp4yVgfa2UerilRncQoOqG_2nIwyh9S2yw&usqp=CAU" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text"  class="fadeIn second" name="username" placeholder="login" formControlName="userName">
      <input type="password"  class="fadeIn third" name="password" placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

   

  </div>
</div>