<div class="my-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" routerLink="members">
        <mat-icon class="s-24 mr-4">reply</mat-icon>
        Retour
    </button>
</div>

<div class="container">

    <div *ngIf="showSubmit === true">
    <h4>Ajout d'un membre</h4>
    <mat-form-field appearance="fill"  >
        <mat-label>Choose one</mat-label>
        <mat-select [(ngModel)]="selectedValue">
          <mat-option  selected="true" value="etudiant">Etudiant</mat-option>
          <mat-option value="ens">Enseignant</mat-option>
        </mat-select>
  
      </mat-form-field>
     <button (click)="choisir()" mat-raised-button color="primary" type="submit" class="button"> Choisir </button>
    </div>
    <form *ngIf="isStudent"[formGroup]="form" (ngSubmit)="onSubmit()" class="form">

        <mat-form-field style="width:400px !important">
            <input matInput placeholder="CIN" formControlName="cin">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Prenom" formControlName="prenom">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nom" formControlName="nom">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Diplome" formControlName="diplome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="adress" formControlName="adress">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="password" formControlName="password">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Date de naissance" formControlName="dateNaissance" type="date">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="photo" formControlName="photo" type="file">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CV" formControlName="cv">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Encadrant CIN</mat-label>
            <mat-select formControlName="encadrant" [(ngModel)]="selectedEnc">
              <mat-option
                *ngFor="let encadrant of encadrants" [value]="encadrant">{{encadrant.nom}}</mat-option>
            </mat-select>
          </mat-form-field>
        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button"
                [disabled]="form.invalid">
                Enregister</button>
        </div>
    </form>

    <form *ngIf="isEns" [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

        <mat-form-field>
            <input matInput placeholder="CIN" formControlName="cin">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Prenom" formControlName="prenom">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nom" formControlName="nom">
        </mat-form-field>

   

        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Date de naissance" formControlName="dateNaissance" type="date">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CV" formControlName="cv">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="grade" formControlName="grade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="etablissement" formControlName="etablissement">
        </mat-form-field>

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button"
                [disabled]="form.invalid">
                Enregister</button>
        </div>
    </form>


</div>